<!DOCTYPE html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Farver med range input</title>
		<style>
			#app > div {
				width: 256px;
				height: 256px;
				color: white;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<p>Bevæg skyderne:</p>
			<label
				>rød
				<input type="range" min="0" max="255" v-model="rød" />
				<p>{{ rød }}</p>
			</label>
			<label
				>grøn
				<input type="range" min="0" max="255" v-model="grøn" />
				<p>{{ grøn }}</p>
			</label>
			<label
				>blå
				<input type="range" min="0" max="255" v-model="blå" />
				<p>{{ blå }}</p>
			</label>
			<div v-bind:style="{ backgroundColor: 'rgb('+rød+','+grøn+','+blå+')'}"></div>
		</div>

		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script>
			const app = Vue.createApp({
				data() {
					return {
						rød: 0,
						grøn: 0,
						blå: 0,
					};
				},
				watch: {
					rød() {
						this.kontrollerFarver();
					},
					grøn() {
						this.kontrollerFarver();
					},
				},
				methods: {
					kontrollerFarver() {
						if (this.rød + this.grøn > 300) {
							this.rød = 150;
							this.grøn = 150;
						}
					},
				},
			});

			app.mount('#app');
		</script>
	</body>
</html>
